<div class="container">
  <%= render "expenses/sidemenu" %>

  <div class="col-xs-9">
    <div class="row">
      <div class="col-xs-6">
        <h2>Preferences</h2>

        <%= form_for(@current_user, url: preference_path(@current_user), html: { method: :put }) do |f| %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :firstname %> <br />
            <%= f.text_field :firstname, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :lastname %> <i>(optional)</i><br />
            <%= f.text_field :lastname, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :budget %> <i>(optional)</i><br />
            <%= f.text_field :budget, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Update Profile", :class => 'btn btn-success' %>
          </div>
        <% end %>
      </div>

      <div class="col-xs-6">
        ---
      </div>
    <div>
  </div>

</div>
