<div class="row">
  <div class="col-xs-12">
    <h3> Budget Pane </h3>
  <% if @next_month_budget %>
    <%= simple_form_for @userbudget do |f| %>
      <%= f.input :month, :as => :hidden, :input_html => { :value => "next" } %>
      <%= f.input :budget, wrapper_html: { class: 'form-group' }, placeholder: 'Your budget for next month', input_html: { class: 'form-control' } %>
      <%= f.button :submit, class: 'btn btn-success' %>
    <% end %>
  <% end %>

  <% if @this_month_budget %>
    <%= simple_form_for @userbudget do |f| %>
      <%= f.input :month, :as => :hidden, :input_html => { :value => "this" } %>
      <%= f.input :budget, wrapper_html: { class: 'form-group' }, placeholder: 'Your budget for this month', input_html: { class: 'form-control' } %>
      <%= f.button :submit, class: 'btn btn-success', value: "Fix your budget" %>
    <% end %>
  <% else %>
    <h5> Your budget for this month is <br>₹ <%= @budget.budget %> </h5>
    <% if !@next_month_budget %>
      <%= link_to raw("<i class='fa fa-pencil'></i> Edit"), user_budget_path(@budget) %>
    <% end %>
  <% end %>
  </div>
</div>
