<div class="col-xs-3 side-menu">
  <h1><%= link_to '₹ Spendit', root_path, class: "lead" %></h1>
  <h5>Household spending</h5>
  <div class="row">
    <div class="col-xs-3">
      <%#= image_tag("avatar_male.jpg", class: "img-circle profile-icon") %>
      <%= gravatar_image_tag(@current_user.email.gsub('spam', 'mdeering'), :alt => @current_user.email , class: "img-circle profile-icon") %>
    </div>
    <div class="col-xs-9">
      <% unless @current_user.firstname.blank? %>
        <p class="lead profile-name"><%= @current_user.firstname %> <%= @current_user.lastname %></p>
      <% else %>
        <p class="lead profile-name">Welcome, User</p>
        <%= link_to raw("<i class='fa fa-cog'></i> Update Settings"), preference_path(@current_user), method: :get, :class => 'navbar-link'  %><br>

      <% end %>
    </div>
  </div>
  <div class="spent-remaining">
    <h3 class="spent">₹ <%= @total_expenses %></h3>
    <% unless @budget.nil? %>
      <h3 class="remaining">₹ <%= @budget - @total_expenses %></h3>
    <% end %>
  </div>

  <%#= link_to raw("<i class='fa fa-pencil'></i> Edit profile"), preference_path(@current_user.id), :class => 'navbar-link' %> <br>
  <%= link_to raw("<i class='fa fa-th-list'></i>  All Expense"), allexpense_path(@current_user), method: :get, :class => 'navbar-link'  %><br>
  <%= link_to raw("<i class='fa fa-cog'></i> Settings"), preference_path(@current_user), method: :get, :class => 'navbar-link'  %><br>
  <%= link_to raw("<i class='fa fa-sign-out'></i> Logout"), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
</div>
