<div class="container">
  <%= link_to raw("<i class='fa fa-arrow-left'></i> Back"), root_path, method: :get, :class => 'navbar-link'  %>
  <% @expense.each do |format|%>
    <% m = format[0] %>
    <h3>Expenses on <%= @months[m] %> -
    <% monthly_budget = get_budget_by_month_year(m, format[1].first.created_at.year) %>
    <% monthly_expense = get_all_month_expenses(m, format[1].first.created_at.year) %>
    <%= monthly_budget %> - <%= monthly_expense %> = <%= monthly_budget - monthly_expense %>
    </h3><br>
    <% @monthly_expense = format[1] %>
    <table class="table">
      <thead>
        <tr><th>Title</th>
        <th>Amount</th>
        <th>Created By</th></tr>
      </thead>
      <tbody>
    <% @monthly_expense.each do |month| %>
        <tr><td><%= month.title %></td>
        <td><%= month.amount %></td>
        <td><%= month.created_at %></td></tr>
    <% end %>
      </tbody>
    </table>
    <hr>
  <% end %>
</div>
