<div class="container">

  <div class="row">

    <%= render('sidemenu') %>

    <div class="col-xs-9">
      <h2>Expenses on <%= @date.strftime("%B") %></h2>
      <h6><i class="fa fa-calendar"></i> <%= @date.strftime("%B %d, %Y") %></h6>

      <%= link_to 'Add New Expense', new_expense_path %>

      <hr>
      <div class="row">
        <div class="col-xs-2">
          <%= link_to raw('<i class="fa fa-arrow-left"></i> Back'), expenses_path %>
        </div>
        <div class="col-xs-2">
          <%= link_to raw('<i class="fa fa-pencil"></i> Edit'), edit_expense_path(@expense) %>
        </div>
      </div>
      <hr>
      <p>
        <strong>Title:</strong>
        <%= @expense.title %>
      </p>

      <p>
        <strong>Amount:</strong>
        <%= @expense.amount %>
      </p>



    </div>
  </div>
</div>
