<!DOCTYPE html>
<html>
<head>
  <title>Spendit</title>

  <%= csrf_meta_tags %>
</head>
<body class="top-space">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <div class="top-stripe"></div>
  <div class="container">
    <% unless notice.blank? %>
      <p class="notice alert alert-warning"><%= notice %></p>
    <% end %>
    <% unless alert.blank? %>
      <p class="alert alert-primary" ><%= alert %></p>
    <% end %>
  </div>

  <%= yield %>
  <br>
  <div class="container">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  </div>
  <div class="stripe"></div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
