<!DOCTYPE html>
<html>
<head>
  <title>Spendit</title>

  <%= csrf_meta_tags %>
</head>
<body class="top-space">
  <%= stylesheet_link_tag 'website', media: 'all', 'data-turbolinks-track' => true %>
  <div class="top-stripe"></div>
  <%= render 'layouts/shared/website_header' %>
  <%= yield %>
  <br>
  <div class="stripe"></div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
